/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Roboto&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', Helvetica, sans-serif;
}

header {
    background-color: rgb(152, 181, 161);
    color: rgb(247,247,240);
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px rgb(110, 127, 115);
}

nav {
    
}

#logo {
    font-family: 'Oswald', Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: inherit;
}

#slogan {
    font-family: 'Raleway', Helvetica, sans-serif;
    color: rgb(247,247,240);
}

main {
    background-color: orange;
    flex: 1 0 auto;
}

footer {
    background-color: yellow;
}