/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Roboto&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles - Broad */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', Helvetica, sans-serif;
}

header {
    background-color: rgb(66, 84, 72);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px rgb(110, 127, 115);
}

main {
    margin: 47px 0 0 0;
    background-color: rgb(131, 150, 137);
    flex: 1 0 auto;
}

ul {
    list-style-type: none;
}

/* General Styling - Specific */ 
#welcome, #ethos, #where-to-start, #pre-signup, #signup-form {
    margin: 20px 25px;
    text-align: center;
}

.white-bg {
    background-color: rgb(255, 255, 255);
    color: rgb(85, 105, 91);
}

.green-bg {
    background-color: rgb(85, 105, 91);
    color: rgb(255, 255, 255);
}

.curved-border {
    border-radius: 4px;
}

#welcome h2, #where-to-start h2, #explanation-intro h2, #pre-signup h2 {
    border-bottom: 2px solid rgb(85, 105, 91);
    padding: 8px;
    text-align: center;
    font-size: 1.5em;
    line-height: 30px;
}

#ethos h2, #explanation-intro h2 {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    font-size: 1.5em;
}

#welcome p, #ethos p, #where-to-start p, #explanation-intro p, #signup-container p {
    margin: 8px 8px 10px 8px;
    padding: 4px 4px 10px 4px;
    font-size: 105%;
    text-align: center;
    font-size: 105%;
}

#about-us, #what-is-mindfulness, #signup-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */
#social-media {
    background-color: rgb(66, 84, 72);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding: 8px 0;
    list-style-type: none;
}

#social-media a {
    text-decoration: none;
    color: inherit;
}

/* Mobile Menu */
nav {
    top: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-color: rgb(66, 84, 72);
    box-shadow: 0 3px 4px rgb(110, 127, 115);
    font-size: 1.3em;
    padding: 5px 5px 7px 10px;
    line-height: 35px;
}

header a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 5px;
}

/* Hero & Slogan */
#hero {
    background: rgb(110, 127, 115) url(../images/long-grass.webp) no-repeat center center/cover;
    max-height: 65vh;
    min-height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#slogan {
    font-family: 'Raleway', Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgba(85, 105, 81, 0.6);
    width: 80%;
    padding: 30px 10px;
    font-size: 2rem;
}

.active {
    border-bottom: 3px solid rgb(255, 255, 255); 
    padding: 2px;
}

/* Explanation Page - Benefits*/
#explanation-intro {
    margin-top: 30px;
}

#benefits {
    padding: 4px 4px 10px 4px;
    font-size: 105%;
}

#benefits h3 {
    text-align: center;
    padding: 5px 3px 7px 3px;
    border-bottom: 1px solid rgb(85, 105, 91);
    font-size: 1.2em;
}

#benefits-list {
    margin: 8px 8px 10px 8px;
}

#benefits-list li {
    margin: 15px 0px;
}

.benefits-items {
    line-height: 25px;
}

/* Sign up Page */
#signup-container, #what-is-mindfulness {
    margin: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pre-signup {
    margin: 20px 25px;
    padding: 10px;
    min-width: 280px;
}

    /* Form Box */
#signup-form {
    padding: 30px;
    text-align: center;
    max-width: 400px;
}

#signup-header {
    text-align: center;
    padding: 5px 3px 7px 3px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 140%;
}

.input-label {
    padding: 5px;
    font-size: 120%;
}

.text-input {
    margin: 10px 10px 10px 10px;
    height: 40px;
    min-width: 220px;
    width: 95%;
    border-style: none;
    padding: 10px;
    font-size: 130%;
}

#signup-form p {
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2em; /* larger than <p> */
}

#form-button {
    margin-top: 20px;
    padding: 15px 26px;
    background-color: rgb(255, 255, 255);
    color: rgb(85, 105, 91);
    font-size: 90%;
    text-align: center;
    border-style: none;
}

/* Form Feedback Page */
#feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-feedback-message {
    text-align: center;
    margin: 40px 25px 90px 25px;
    padding: 20px 10px 20px 10px;
    font-size: 1.3em;
}

#form-feedback-message p {
    margin-bottom: 15px;
}

/* Mobile Menu Toggle */
#nav-toggle {
    display: none;
    position: absolute;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 14px;
    top: 8px;
    font-size: 27px;
}

/* Code borrowed from "https://css-tricks.com/inclusively-hidden/" */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

#logo {
    font-family: 'Oswald', Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-left: 5px;
}

.page-divider {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
}

#download-button {
    margin: 20px 0px;
    color: rgb(85, 105, 91);
    font-size: 90%;
    text-align: center;
}

#fb-button-container {
    background-color: rgb(66, 84, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

#fb-return-home {
    margin: 20px 0px;
    padding: 15px 26px;
    background-color: rgb(255, 255, 255);
    color: rgb(85, 105, 91);
    font-size: 90%;
    text-align: center;
    box-shadow: none;
}

#fb-return-home a {
    text-decoration: none;
    color: rgb(66, 84, 72);
    border: 2px solid rgb(85, 105, 91);
    width: fit-content;
    padding: 15px;
}

/* Tablets and above */
@media screen and (min-width:768px){
    nav {
        position: absolute;
        display: block;
        text-align: center;
        box-shadow: 0px 5px 5px 0px rgb(110, 127, 115);
        margin-top: -2px;
    }

    header {
        background-color: rgb(66, 84, 72);
        height: 70px;
    }

    main {
        margin-top: 100px;
    }

    #logo {
        font-size: 250%;
        padding-bottom: 10px;
        padding-left: 10px;
        height: 70px;
    }

    #menu {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        font-size: 120%;
    }

    #nav-toggle{
        display: none;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #hero {
        max-height: 50vh;
        min-height: 50vh;
    }

    #slogan {
        margin-top: 10px;
        max-width: 500px;
    }

    #explanation-intro, #welcome, #ethos, #where-to-start, #pre-signup {
        max-width: 800px;
        font-size: large;
        line-height: 25px;
    }

    #explanation-intro {
        margin-top: 50px;
    }

    #benefits {
        max-width: 700px;
    }

    #signup-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    #welcome, #ethos, #where-to-start, #explanation-intro, #benefits-list, #pre-signup, #benefits, #form-feedback-message {
        padding: 20px;
    }

    #form-feedback-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 120px 100px 0px 100px;
        line-height: 40px;
        max-width: 1000px;
    }

    #form-feedback-message p {
        margin-bottom: 15px;
    }

    .page-divider {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1440px) {    
    nav {
        position: absolute;
        display: block;
        text-align: center;
        box-shadow: 0px 5px 5px 0px rgb(110, 127, 115);
        margin-top: -2px;
        width: 100%;
    }
    
    header {
        background-color: rgb(66, 84, 72);
        height: 70px;
    }

    #logo {
        font-size: 300%;
        margin-left: 30px;
        box-shadow: none;
    }

    #slogan  {
        max-width: 600px;
    }

    #menu {
        font-size: 160%;
        display: flex;
        justify-content: space-evenly;
        height: 60px;
        align-items: center;
    }

    #explanation-intro {
        margin-top: 70px;
    }

    main {
        font-size: larger;
        margin-top: 100px;
    }

    footer {
        font-size: 150%;
    }
}