/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Roboto&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', Helvetica, sans-serif;
}

header {
    background-color: rgb(66, 84, 72);
    color: rgb(247,247,240);
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px rgb(110, 127, 115);
}

main {
    margin: 47px 0 0 0;
    background-color: rgb(131, 150, 137);
    flex: 1 0 auto;
}

ul {
    list-style-type: none;
}

/* Footer */
#social-media {
    background-color: rgb(66, 84, 72);
    color: rgb(247, 247, 240);
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding: 8px 0;
    list-style-type: none;
}

#social-media a {
    text-decoration: none;
    color: inherit;
}

/* Mobile Menu */
nav {
    top: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-color: rgb(66, 84, 72);
    box-shadow: 0 2px 4px rgb(110, 127, 115);
    font-size: 1.3em;
    padding: 5px 5px 7px 10px;
    line-height: 35px;
    
}

header a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 5px;
}

/* Hero & Slogan */
#hero {
    background: rgb(110, 127, 115) url(../images/long-grass.JPG) no-repeat center center/cover;
    max-height: 65vh;
    min-height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#slogan {
    font-family: 'Raleway', Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgba(85, 105, 81, 0.6);
    width: 80%;
    padding: 30px 10px;
    font-size: 2rem;
    border-radius: 4px;
}

/* Homepage Intro Section*/ 

#introduction, #what-is-mindfulness { 
    margin: 15px 25px;
}

#welcome, #ethos, #where-to-start {
    margin-top: 15px;
    text-align: center;
    border-radius: 4px;
}

#explanation-intro, #benefits, #pre-signup, #signup-form {
    border-radius: 4px;
}

.white-bg {
    background-color: rgb(255, 255, 255);
    color: rgb(85, 105, 91);
}

.green-bg {
    background-color: rgb(85, 105, 91);
    color: rgb(255, 255, 255);
}

#welcome h2, #where-to-start h2, #explanation-intro h2, #signup-container h3{
    border-bottom: 2px solid rgb(85, 105, 91);
    padding: 8px;
    text-align: center;
    font-size: 1.5em;
}

#ethos h2, #explanation-intro h2 {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    font-size: 1.5em;
}

#welcome p, #ethos p, #where-to-start p, #explanation-intro p, #signup-container p {
    margin: 8px 8px 10px 8px;
    padding: 4px 4px 10px 4px;
    font-size: 105%;
    text-align: center;
    font-size: 105%;
}

#about-us, #explanation-intro, #pre-signup {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Explanation Page - Benefits*/
#benefits {
    padding: 4px 4px 10px 4px;
    font-size: 105%;
}

#benefits h3 {
    text-align: center;
    padding: 5px 3px 7px 3px;
    border-bottom: 1px solid rgb(85, 105, 91);
    font-size: 1.2em;
}

#benefits-list {
    margin: 8px 8px 10px 8px;
}

/* Sign up Page */
#signup-container {
    margin: 25px 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /* Form */
#signup-form {
    padding: 30px;
    text-align: left;
    max-width: 400px;
}

.input-label {
    padding: 5px;
    font-size: 105%;
}

.text-input {
    margin: 5px 10px 10px 5px;
    border-radius: 4px;
    height: 30px;
    width: 13rem;
    border-style: none;
    padding: 10px;
}

#signup-form p {
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2em; /* larger than <p> */
}

#form-button {
    margin-top: 20px;
    padding: 15px 26px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(85, 105, 91);
    font-size: 90%;
    text-align: center;
    border-style: none;
}

/* Form Feedback Page */
    #form-feedback-message {
        text-align: center;
        margin: 90px 25px 90px 25px;
        padding: 20px 10px 20px 10px;
        font-size: 1.5em;
        border-radius: 4px;
    }

/* Mobile Menu Toggle */
#nav-toggle {
    display: none;
    position: absolute;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 14px;
    top: 8px;
    font-size: 27px;
}

#logo {
    font-family: 'Oswald', Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-left: 5px;
}

.page-divider {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}

#fb-button-container {
    background-color: rgb(66, 84, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

#return-home-button {
    margin: 20px 0px;
    padding: 15px 26px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(85, 105, 91);
    font-size: 90%;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    box-shadow: none;
}

#return-home-button a {
    text-decoration: none;
    color: rgb(66, 84, 72);
    border-style: none;
}

/* Tabelt snad above */
@media screen and (min-width:768px){
    nav {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        box-shadow: none;
    }

    #logo {
        font-size: 250%;
    }

    #menu {
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0px 5px 5px 0px rgb(102, 121, 108);
        height: 50px;
        font-size: 105%;
    }

    #nav-toggle{
        display: none;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #hero {
        max-height: 50vh;
        min-height: 50vh;
    }

    #slogan {
        margin-top: 10px;
        max-width: 500px;
    }

    #what-is-mindfulness, #form-feedback-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    #explanation-intro, #welcome, #ethos, #where-to-start, #pre-signup {
        max-width: 800px;
    }

    #benefits {
        max-width: 600px;
    }

    #signup-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    #welcome, #ethos, #where-to-start, #explanation-intro, #benefits-list, #pre-signup, #benefits, #form-feedback-message {
        padding: 20px;
    } 

    #form-feedback-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 300px 100px 0px 100px;
    }

    .page-divider {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1440px) {
    #logo {
        font-size: 300%;
        margin-left: 30px;
        box-shadow: none;
    }

    #slogan  {
        max-width: 600px;
    }

    #menu {
        font-size: 150%;
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0px 5px 5px 0px rg(102, 121, 108);
        height: 60px;
        align-items: center;
    }

    main {
        font-size: larger;
    }
}